@model QLBanSach.Models.GioHang

<a href="@Url.Action("GioHang","GioHang")" style=" font-weight:bold;text-decoration:none;">
    <img src="~/Assit/Images/Images/giohang.png" style="height:20px;"  /> Giỏ Hàng(@ViewBag.TongSoluong)
</a>